/* Put your CSS rules here: */
.picture_container {
	border: 10px solid blue;
    padding: 10px 10px 0 0;
	background-color: black;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.back {
	background-color: white;
	height: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

/* These are for the exercise, please don't edit them! */
html,body{margin:0;padding:0;}
body{font-family:sans-serif;}
.content{width:980px;padding:10px;}

